[submodule "vendors/codex"]
	path = vendors/codex
	url = org-14957082@github.com:openai/codex.git
[submodule "vendors/gin"]
	path = vendors/gin
	url = git@github.com:gin-gonic/gin.git
[submodule "vendors/open-notebook"]
	path = vendors/open-notebook
	url = git@github.com:lfnovo/open-notebook.git
