[submodule "vendors/codex"]
	path = vendors/codex
	url = org-14957082@github.com:openai/codex.git
[submodule "vendors/gin"]
	path = vendors/gin
	url = git@github.com:gin-gonic/gin.git
[submodule "vendors/open-notebook"]
	path = vendors/open-notebook
	url = git@github.com:lfnovo/open-notebook.git
[submodule "vendors/claude-code-decypher"]
	path = vendors/claude-code-decypher
	url = git@github.com:tyrchen/claude-code-decypher.git
[submodule "vendors/opencode"]
	path = vendors/opencode
	url = git@github.com:anomalyco/opencode.git
